body{
  /*background: #2f4f5b;*/
  background: #526f4d;
  /* background-image: url('../img/body.jpg'); */
  font-family: 'Montserrat', serif;
  min-width:100%;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  min-width: 992px;
}

h4 {
  margin-top: 25px;
}

.row {
  margin-bottom: 20px;
}

.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

hr {
  margin-top: 28px;
  margin-bottom: 28px;
}

.navbar {
  margin-bottom: 20px;
  background: rgba(0, 0, 0, .3);
  border: none;
  width: 51.8%;
}

.active{
  background: rgba(0,0,0,.4);
}

.navbar li a{
  font-size: 41px;
  color: #ccc;
}

.navbar li a:hover{
  color: #9ab4d5;
  background: rgba(34, 32, 27, 1);
}

.header h3{
  font-family: "Montserrat Bold Italc";
  font-size: 52px;
  font-weight: 700;
  text-align: center;
  color: #ccc;
}

.spacer{
  margin-bottom: 2%;
}

.lexp select{
  height: 25px;
  border: none;
  width: 78px;
}

.linkage{
  margin-top: 28%;
  font-size: 15px;
  color: #ccc;
}

.form-shorten input[type="text"] {
  padding: 10px;
  font-size: 16px;
  height: 47px;
  font-size: 20px;
  border: none;
  box-shadow: none;
}

.form-shorten input[type="text"]:focus{
  border: none;
  box-shadow: none;
  padding: 10px;
  font-size: 16px;
  height: 47px;
  font-size: 20px;
}

.submitbtn{
  height: 47px;
  background: #333;
  border: none;
}

.submitbtn:hover {
  background: #333;
  color: #9ab4d5;
  height: 47px;
  border: none;
}

#footer{
  font-size: 14px;
}

.text-muted{
   color: ##457587;
}

#message{
  float: center;
  text-align: center;
}

#message .alert{
  float: left;
  text-align: left;
  width:515px;
  font-size: 15px;
  font-weight: 550;
  margin-left: 3.5%;
}

#newlink{
  color: rgba(0, 191, 0, .6);
}

#newlink:hover{
  color: rgba(0, 191, 0, 1);
}

@media screen and (max-width:767px){
  div.navbar{
    display:none;
  }
}

.icon-rotate{
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.stat-flip{
  -webkit-transform: scaleX(-1);
     -moz-transform: scaleX(-1);
       -o-transform: scaleX(-1);
          transform: scaleX(-1);
  -ms-filter: fliph; /*IE*/
      filter: fliph; /*IE*/
}

.form-shorten-heading{
  margin-bottom: 10px;
  color: #bbb;
}

.glyphicon {
    display: block;
    text-align: center;
    margin: auto;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.linktext{
  position: relative;
  font-size: 76%;
}

.table{
  color: rgb(34, 139, 34);
}

.centertab{
  margin-left: auto; 
  margin-right: auto;
  text-align: center;
}

#theLoader{ display: none; }

  @-webkit-keyframes title {
    0% {
      opacity: 0;
      right: 130px;
    }
    48% {
      opacity: 0;
      right: 130px;
    }
    52% {
      opacity: 1;
      right: 30px;
    }
    70% {
      opacity: 1;
      right: 30px;
    }
    100% {
      opacity: 0;
      right: 30px;
    }
  }
  @-moz-keyframes title {
    0% {
      opacity: 0;
      right: 130px;
    }
    48% {
      opacity: 0;
      right: 130px;
    }
    52% {
      opacity: 1;
      right: 30px;
    }
    70% {
      opacity: 1;
      right: 30px;
    }
    100% {
      opacity: 0;
      right: 30px;
    }
  }
  @-webkit-keyframes fade {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  @-moz-keyframes fade {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  .wrap {
    font-family: sans-serif, arial;
    color: #eaf7ff;
    position: relative;
    left: 45%;
    margin-left: auto;
    margin-top: auto;
  }
  .loading {
    position: relative;
    text-align: center;
    text-shadow: 0 0 6px #bce4ff;
    height: 20px;
    width: 150px;
  }
  .loading span {
    display: block;
    text-transform: uppercase;
    position: absolute;
    right: 30px;
    height: 20px;
    width: 200px;
    line-height: 20px;
  }
  .loading span.title {
    -moz-animation: title 3.4s linear infinite;
    -webkit-animation: title 3.4s linear infinite;
    animation: title 3.4s linear infinite;
  }
  .loading span.text {
    -moz-animation: title 3.4s linear 1.7s infinite;
    -webkit-animation: title 3.4s linear 1.7s infinite;
    animation: title 3.4s linear 1.7s infinite;
    opacity: 0;
  }