body{
  /*background: #2f4f5b;*/
  background: #1a6b1a;
  background-image: url('../img/body.jpg');
  font-family: "Verdana";
  min-width:100%;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  min-width: 992px;
}

h4 {
  margin-top: 25px;
}

.row {
  margin-bottom: 20px;
}

.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

hr {
  margin-top: 28px;
  margin-bottom: 28px;
}

.navbar {
  margin-bottom: 20px;
  background: rgba(34, 32, 27, .6);
  border: none;
  width: 52%;
}

.active{
  background: rgba(0,0,0,.5);
}

.navbar li a{
  font-size: 40px;
  color: #355713;
}

.navbar a:hover{
  background: rgba(34, 32, 27, 1);
}

.header h3{
  font-family: "Verdana Bold Italc";
  font-size: 60px;
  font-weight: 700;
  margin-left: 24%;
  color: #53960f;
}

.spacer{
  margin-bottom: 2%;
}

.form-shorten input[type="text"] {
  padding: 10px;
  font-size: 16px;
  height: 400%;
  font-size: 20px;
  border: none;
  box-shadow: none;
}

.form-shorten input[type="text"]:focus{
  border: none;
  box-shadow: none;
  padding: 10px;
  font-size: 16px;
  height: 400%;
  font-size: 20px;
}

.submitbtn{
  width:30px;
  height: 47px;
  background: #333;
  border: none;
}

#footer{
  font-size: 14px;
}

.text-muted{
   color: ##457587;
}

#message{
  width:515px;
  font-size: 15px;
  font-weight: 550;
  margin-left: 3.5%;
}

#newlink{
  color: rgba(0, 191, 0, .6);
}

#newlink:hover{
  color: rgba(0, 191, 0, 1);
}

@media screen and (max-width:767px){
  div.navbar{
    display:none;
  }
}

.icon-rotate{
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.stat-flip{
  -webkit-transform: scaleX(-1);
     -moz-transform: scaleX(-1);
       -o-transform: scaleX(-1);
          transform: scaleX(-1);
  -ms-filter: fliph; /*IE*/
      filter: fliph; /*IE*/
}

.form-shorten-heading{
  margin-bottom: 10px;
  color: #bbb;
}

.glyphicon {
    display: block;
    text-align: center;
    margin: auto;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.linktext{
  position: relative;
  font-size: 76%;
}

.table{
  color: rgb(34, 139, 34);
}

.centertab{
  margin-left: auto; 
  margin-right: auto;
  text-align: center;
}